
@media (min-width:769px){
    div[class="card"]{
        width: 100%;
    }
    #projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
      
    }

    /* contact us section*/
  .contact-us{
    height: 30vh;
    background-color: #111111;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2em;
  }

}
