body{
    box-sizing: border-box;
    /* background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;  */
    height: auto;
    background-color:#fbfafae3; 
}
#get-started-btn{
    padding: 20px;
}
#get-started-btn:hover{
    box-shadow:-1px 9px 40px -12px  rgba(0, 0, 0, 0.8);
}
#navbar-1{
    background-image: url("../images/mountains.jpeg");
    box-shadow:-1px 9px 40px -12px  rgba(0, 0, 0, 0.9);
}

.about{
    background-image: url("../images/mountains.jpeg");
    /* background-image: linear-gradient(rgba(255, 255, 255,0.4),rgba(185, 171, 171, 0.4)); */
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    background-position: bottom ;
    box-shadow:-1px 9px 40px -12px  rgba(0, 0, 0, 0.8);
    height: 100vh;
}
#content-about{
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#content-about p{
    width: 70%
}
#projects{
   margin: 35px auto;
}
div[class="card"]{
    width: 90%;
    margin: 1.5em auto;
}

/* hover zoom on image 
 */
div[class="card"]:hover{
    box-shadow:-1px 9px 40px -12px  rgba(0, 0, 0, 0.95)
  }
  .inner{
    overflow: hidden;
  }
  .inner img{
    transition: all 1.5s ease;
  }
  .inner:hover img{
    transform: scale(1.5);
  }