body{
    box-sizing: border-box;
    /* background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;  */
    height: auto;
}
#navbar-1{
    background-image: url("../images/mountains.jpeg");

}
.about{
    background: url("../images/mountains.jpeg") no-repeat 50% 50%;
    background-size: cover;
    background-position: bottom ;
    height: 100vh;
}
#content-about{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#content-about p{
    width: 70%
}
#projects{
   margin: 35px auto;
}
div[class="card"]{
    width: 90%;
    margin: 1.5em auto;
}

/* hover zoom on image 
 */
div[class="card"]:hover{
    box-shadow:-1px 9px 40px -12px  rgba(0, 0, 0, 0.95)
  }
  .inner{
    overflow: hidden;
  }
  .inner img{
    transition: all 1.5s ease;
  }
  .inner:hover img{
    transform: scale(1.5);
  }